.vscode
venv
dist
tcdr.egg-info
tcdr/.mypy_cache
tcdr-app/.env
__pycache__/
tcdr/*.py[cod]
tcdr/.DS_Store
tcdr/z8ter.egg-info
tcdr-app/node_modules
tcdr-app/static/css/output.css
tcdr-app/static/js/pages/**/*.js
.env
